<section class="catalogo">
    <header class="barradetarefas">
        <h2>Catalogo</h2>
        <select class="filtro-categoria" (change)="onCategoriaChange($event)">
            <option value="todos">Todas as Categorias</option>
            @for (categoria of categorias(); track categoria) {
              <option [value]="categoria">{{ categoria }}</option>
            }
          </select>

        <button class="btn sopromo" [class.active]="apenasPromo()" (click)="alternarPromo()">
            @if(apenasPromo()){
                <span>Mostar Todos</span>
            }
            @else {
                <span>Somente Promoções</span>
            }
        </button>
    </header>
    @if(loading()){
        <p>Carregando produtos...</p>
    }
    @else{      
        <div class="grid">
            @for (prod of prodExibidos(); track prod.id) {
                <app-card-produto [produto]="prod" (add)="onAddProduct($event)" (view)="onViewProduct($event)"></app-card-produto>
            } @empty {
                <p class="vazio">Nenhum produto encontrado para o filtro atual</p>
            }
        </div>
    }
</section>